<%%= form_for(@<%= singular_table_name %>) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>
<% goma_config.authentication_keys.each do |key| -%>
  <div class="field">
    <%%= f.label :<%= key %> %><br>
    <%%= f.text_field :<%= key %> %>
  </div>
<% end -%>
  <div class="field">
    <%%= f.label :<%= goma_config.password_attribute_name %> %><br>
    <%%= f.password_field :<%= goma_config.password_attribute_name %> %>
  </div>
  <div class="field">
    <%%= f.label :<%= goma_config.password_confirmation_attribute_name %> %><br>
    <%%= f.password_field :<%= goma_config.password_confirmation_attribute_name %> %>
  </div>

<% attributes.each do |attribute| -%>
  <div class="field">
  <%- if attribute.reference? -%>
    <%%= f.label :<%= attribute.column_name %> %><br>
    <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %> %>
  <%- else -%>
    <%%= f.label :<%= attribute.name %> %><br>
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  <%- end -%>
  </div>
<% end -%>
  <div class="actions">
    <%%= f.submit ( @<%= singular_table_name %>.try(:persisted?) ? 'Update' : 'Sign up' ) %>
  </div>
<%% end %>
